  <footer>

    <div class="content">

      <div class="row card-list">
        <div>
          <h4>Vuoi usare la tastiera?</h4>
          <p><span class="key">BACKSPACE</span><span class="note">Torna alla homepage</span></p>
          <p><span class="key">&lsaquo;</span><span class="key">&rsaquo;</span><span class="key">SPAZIO</span><span class="key">TAB</span><span class="note">Scorri le sezioni</span></p>
          <p><span class="key">1</span><span class="key">2</span><span class="key">3</span><span class="key">4</span><span class="key">5</span><span class="note">Salta tra sezioni</span></p>
          <p><span class="key">-</span><span class="key">+</span><span class="note">Cambia quantità</span></p>
          </div>
      </div>

    </div>

    <div class="content footer-info">

      <div class="row card-list">
        <div>
          <div class="card">
            <p>Sorgenti disponibili su <a href="https://github.com/zenoid/simpletomake" target="_blank" tabindex="-1">Github</a></p>
            <p class="note">Made in Italy by Piero Ciarfaglia &rarr; <a href="https://zenoid.it" target="_blank" tabindex="-1">zenoid</a></p>
          </div>
        </div>
        <div>
          <div class="card">
            <p><a href="https://choosealicense.com/licenses/gpl-3.0/" target="_blank" tabindex="-1"><span class="copyleft">&copy;</span> GNU General Public License</a></p>
            <p class="note">Sei libero di (ri)utilizzare contenuti e sorgenti di questo sito rispettando questa licenza</p>
          </div>
        </div>
        <div>
          <div class="card">
            <p>Su questo sito non viene utilizzato nessun coookie, e non viene raccolto nessun dato</p>
          </div>
        </div>
      </div>

    </div>

  </footer>