  <script data-goatcounter="https://simpletomakeit.goatcounter.com/count"
        async src="//gc.zgo.at/count.js"></script>
  <script type="text/javascript" src="/js/sidebarmenu.js"></script><script type="text/javascript" src="/js/quantity.js"></script><script type="text/javascript" src="/js/nav.js"></script><script type="text/javascript" src="/js/keyboard.js"></script><script type="text/javascript" src="/js/tooltips.js"></script><script type="text/javascript" src="/js/main.js"></script>

</body>
</html>