  <nav class="nav-main">
    <div class="group">
      <a href="/" class="btn btn-icon btn-icon-list" data-tooltip="Ricette" id="mainNavOpen"></a>
      <a href="about.html" class="btn btn-icon btn-icon-about" data-tooltip="Cos'è <strong>Simple To Make It</strong>"></a>
    </div>
  </nav>