  <nav class="nav-main">
    <div class="group">
      <a href="/" class="btn btn-icon btn-icon-list<% if ( page.layout === 'index' ) { %> selected<% } %>" data-tooltip="Ricette"></a>
      <a href="about.html" class="btn btn-icon btn-icon-about<% if ( page.layout === 'about' ) { %> selected<% } %>" data-tooltip="Cos'è <strong>Simple To Make It</strong>"></a>
    </div>
  </nav>