  <nav class="nav-switch">
    <div class="group">
      <a href="/" class="btn-icon btn-mainnavopen"><svg class="icon"><use xlink:href="/images/svgdefs.svg#icon-list"/></svg></a>
    </div>
<% if ( page.layout === 'recipe' ) { %>
    <div class="div"></div>
    <div class="group mobileshow">
      <button class="btn-icon hidden btn-prev"><svg class="icon"><use xlink:href="/images/svgdefs.svg#icon-arrow-up"/></svg></button>
      <button class="btn-icon hidden btn-next"><svg class="icon"><use xlink:href="/images/svgdefs.svg#icon-arrow-down"/></svg></button>
    </div>
<% } %>
  </nav>