  <nav class="nav-main">
    <div class="group">
      <a href="/" class="btn-icon btn-mainnavopen" data-tooltip="Ricette"><svg class="icon"><use xlink:href="images/svgdefs.svg#icon-list"/></svg></a>
      <a href="about.html" class="btn-icon" data-tooltip="Cos'è <strong>Simple To Make It</strong>"><svg class="icon"><use xlink:href="images/svgdefs.svg#icon-about"/></svg></a>
    </div>
  </nav>