  <nav class="nav-tools">
    <div class="group">
      <button class="btn-icon btn-icon-minus" data-tooltip="Diminuisci la quantità base di <strong><%= page.qtyStep %></strong>"><svg class="icon"><use xlink:href="images/svgdefs.svg#icon-minus"/></svg></button>
      <button class="btn-icon btn-icon-plus" data-tooltip="Aumenta la quantità base di <strong><%= page.qtyStep %></strong>"><svg class="icon"><use xlink:href="images/svgdefs.svg#icon-plus"/></svg></button>
    </div>
    <div class="div"></div>
    <div class="group">
      <button class="btn-icon hidden" id="btn-prev"><svg class="icon"><use xlink:href="images/svgdefs.svg#icon-arrow-up"/></svg></button>
      <ul class="navdots">
        <li class="selected"><a href="#top" class="btn" data-tooltip="Principi"></a></li>
        <li><a href="#ingredienti" class="btn" data-tooltip="Ingredienti"></a></li>
        <li><a href="#attrezzatura" class="btn" data-tooltip="Attrezzatura"></a></li>
        <li><a href="#ricetta" class="btn" data-tooltip="Ricetta"></a></li>
        <li><a href="#uso" class="btn" data-tooltip="Uso e conservazione"></a></li>
      </ul>
      <button class="btn-icon hidden" id="btn-next"><svg class="icon"><use xlink:href="images/svgdefs.svg#icon-arrow-down"/></svg></button>
    </div>
    <div class="div mobilehide"></div>
    <div class="group mobilehide">
      <script>document.write('<a href="'+'znvygb:mra@mrabvq.vg'.encrypt()+'?subject=Ho un suggerimento per: <%- page.title %>" target="_blank" class="btn-icon" tabindex="-1" data-tooltip="Segnala errori o suggerimenti"><svg class="icon"><use xlink:href="images/svgdefs.svg#icon-mail"/></svg></a>');</script>
      <a href="https://github.com/zenoid/simpletomake/blob/master/source/recipes/<%- page.recipeid %>.md" target="_blank" class="btn-icon" tabindex="-1" data-tooltip="Proponi modifiche a questa ricetta su Github"><svg class="icon"><use xlink:href="images/svgdefs.svg#icon-pr"/></svg></a>
    </div>
  </nav>