


/*                      HEADER
------------------------------------------------------------------------- */

header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;
}



/*                      MAIN NAV
------------------------------------------------------------------------- */

nav {
  @include disableSelect;

  ul {
    @include flex;
    position: relative;
  }

  .bg {
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    bottom: 0;
    width: 0;
    background-color: var( --color-white );
    @include transition( width, $transition-scroll, ease-in-out );
  }

  li {
    @include flexNoShrink;
    width: 20%;

    &.selected ~ li {
      .btn {
        color: var( --color-white );
      }
    }

    @for $i from 1 through 5 {
      &:nth-child(#{$i}) {
        .btn {  color: var( --color-main#{$i} );
                border-color: var( --color-main#{$i} ); }
        &.selected ~ .bg { width: #{ 20% * $i }; }
      }
    }
  }

  .btn {
    display: block;
    border-top: 4px solid transparent;
  }
}


