


/*                      RECIPE LAYOUT
------------------------------------------------------------------------- */

article {
  color: var( --color-white );
  background-color: var( --color-main1 );
  @include transition( background-color, $transition-scroll );
  background-attachment: fixed;
  background-image: url( '../images/tothecore-logobg.svg' );
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left 50% top 50%;
}

@for $i from 1 through 5 {
  .section#{$i} {
    background-color: var( --color-main#{$i} );
  }
}

section {
  background: none !important;
  max-width: $layoutwidth;
  min-height: 100vh;
  margin: auto;
  text-align: left;
  padding: 4rem 1rem 1rem 1rem;

  h1,
  h2 {
    margin: 2rem 0 1.5rem;
  }
}



/*                      CARDS
------------------------------------------------------------------------- */

.card-list {
  @include flex;
  @include flexWrap;

  & > div {
    width: 33.33%;
  }
}

.card {
  background-color: var( --color-white );
  color: var( --color-dark );
  padding: 2rem;
  height: calc( 100% - 2px );
  margin: 0 1px;
  position: relative;
  @include transition( background-color, $transition-hover );
}

.card-list-ordered {
  counter-reset: cardnum;

  .card:before {
    counter-increment: cardnum;
    content: counter(cardnum);
    position: absolute;
    top: 0.25rem;
    left: 0.5rem;
    font-size: 1.25rem;
    font-family: $font-mono;
    opacity: 0.25;
  }
}

.card-empty {
  padding: 2rem;

  p {
    font-size: 1rem;
    opacity: 0.8;
  }
}

.card-time {
  padding: 2rem 2rem 2rem 4.5rem;
  background-image: url( '../images/icon-clock.svg' );
  background-repeat: no-repeat;
  background-size: 4rem;
  background-position: left 0.5rem top 50%;

  p {
    line-height: 1.2;
  }

  strong {
    font-size: 1.25em;
  }
}



/*                      RECIPE CONTROLS
------------------------------------------------------------------------- */

.article-actions {
  position: sticky;
  bottom: 0;
  left: 0;
  right: 0;
  height: $btn-height;
  z-index: 1;
  @include flex;

  .btn + .btn {
    margin-left: 2px;
  }

  & > div {
    @include flex;
  }
}

.article-actions-main {
  @include flexGrow( 1 );
}


