


/*                      RECIPE
------------------------------------------------------------------------- */

article {
  color: var( --color-white );
  background-color: var( --color-main1 );
  @include transition( background-color, $transition-scroll );
  background-attachment: fixed;
  background-image: url( '../images/tothecore-logobg.svg' );
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left 50% top 50%;
}

@for $i from 1 through 5 {
  .section#{$i} {
    background-color: var( --color-main#{$i} );
  }
}

section {
  background: none !important;
  max-width: $layoutwidth;
  min-height: 100vh;
  margin: auto;
  text-align: left;
  padding: 4rem 1rem 1rem 1rem;

  h1,
  h2 {
    margin: 2rem 0 1.5rem;
  }
}

.card-list {
  @include flex;
  @include flexWrap;

  & > div {
    width: 33.33%;
  }
}

.card {
  background-color: var( --color-white );
  color: var( --color-dark );
  padding: 2rem;
  height: calc( 100% - 2px );
  margin: 0 1px;
  position: relative;
}

.card-list-ordered {
  counter-reset: cardnum;

  .card:before {
    counter-increment: cardnum;
    content: counter(cardnum);
    position: absolute;
    top: 0.25rem;
    left: 0.5rem;
    font-size: 1.25rem;
    font-weight: $fontweight-bold;
    opacity: 0.2;
  }
}


