


/*                      TEXT
------------------------------------------------------------------------- */

body {
  font-family: $font;
  font-size: 16px;
  font-weight: $fontweight-normal;
  text-rendering: optimizeLegibility;
}

p,
ul,
ol,
li {
  margin: 0;
  padding: 0;
}

strong {
  font-weight: $fontweight-bold;
}

ul li {
  list-style: none;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  outline: none;
}

p {
  font-size: 1.25rem;
  line-height: 1.4;
}

* + p {
  margin-top: 1rem;
}

.note {
  font-size: 1rem;
  color: $color-gray;
}

body:not(.touch) {
  p a:hover {
  }
}

::-moz-selection {
  background: $color-main1;
  text-shadow: none;
  color: $color-white;
}

::selection {
  background: $color-main1;
  text-shadow: none;
  color: $color-white;
}



/*                      TITLES
------------------------------------------------------------------------- */

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  font-family: $font-title;
  font-weight: $fontweight-title-bold;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 3rem;
  line-height: 1.2;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
  line-height: 1.4;
  font-weight: $fontweight-bold;

  .quantity {
    font-weight: $fontweight-normal;
  }
}


