<h1><%= page.name %></h1>

<%= page.content %>

<%
  var recipes = site.pages.filter( p => p.layout === 'recipe' ).filter( rec => {
    let isInRecipe = false;
    rec.ingredients.forEach( recIngr => {
      if ( recIngr.id === page.id ) {
        isInRecipe = true;
      }
    });
    return isInRecipe;
  });
%>

<ul><%
recipes.forEach( rec => { %>
  <li><a href="/<%- rec.path %>"><%- rec.title %></a></li><%
}) %>
</ul>
