<header>

  <h1><span class="sub">come fare un</span><br/><%- page.title.toLowerCase() %></h1>

  <nav>
    <ul>
      <li class="selected"><a href="#principi">principi</a></li>
      <li><a href="#ingredienti">ingredienti</a></li>
      <li><a href="#attrezzatura">attrezzatura</a></li>
      <li><a href="#procedimento">procedimento</a></li>
      <li><a href="#uso">uso</a></li>
      <div class="bg"></div>
    </ul>
  </nav>

</header>