<header>

  <nav>
    <ul>
      <li class="selected"><a href="#principi" class="btn">principi</a></li>
      <li><a href="#ingredienti" class="btn">ingredienti</a></li>
      <li><a href="#attrezzatura" class="btn">attrezzatura</a></li>
      <li><a href="#procedimento" class="btn">procedimento</a></li>
      <li><a href="#uso" class="btn">uso</a></li>
      <div class="bg"></div>
    </ul>
  </nav>

</header>