


/*                      COVER BLOCK
------------------------------------------------------------------------- */

.cover {
  @include gradient( var( --color-main1 ), var( --color-main5 ) );
  color: var( --color-white );
}



/*                      HOMEPAGE: LAYOUT
------------------------------------------------------------------------- */

.home-main {
  min-height: 100vh;
  @include flex;
  @include flexVerticalCenter;

  .content {
    padding-left: 4rem !important;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 1rem 3rem;
    grid-template-areas:
      "logo title title"
      "logo menu1 menu2";
    width: 100%;

    @media only screen and (max-width: $size-M) {
      gap: 1rem 1.5rem;
    }

    @media only screen and (max-width: $size-S) {
      grid-template-areas:
        "logo title title"
        "logo menu1 menu1"
        "logo menu2 menu2";
    }

    @media only screen and (max-width: $size-XS) {
      padding: 1.5rem 3rem !important;
      grid-template-columns: 1fr;
      grid-template-areas:
        "logo"
        "title"
        "menu1"
        "menu2";
    }

    @media only screen and (max-width: $size-XXS) {
      padding: 4rem 1.5rem 1.5rem 1.5rem !important;
    }
  }

  .home-logo  { grid-area: logo;  }
  .home-title { grid-area: title; }
  .home-menu1 { grid-area: menu1; }
  .home-menu2 { grid-area: menu2; }

  h1 {
    opacity: 0.6;
    margin-bottom: 0.5em;

    @media only screen and (max-width: $size-S) {
      font-size: 2rem;
    }
  }

  h2 {
    font-size: 1.5rem;
    font-weight: $fontweight-bold;
    margin-bottom: 0.5em;
  }
}

.home-logo {
  min-width: 10rem;
  text-align: center;

  img {
    width: 100%;

    @media only screen and (max-width: $size-S) {
      max-width: 12rem;
    }
  }
}



/*                      HOMEPAGE: MENU
------------------------------------------------------------------------- */

.home-main {

  li {
    height: 3rem;
    margin-bottom: 2px;
  }

  a {
    max-width: 100%;
    line-height: 3rem;
    font-size: 1.2rem;
    color: var( --color-dark );
    background-color: var( --color-white );

    span {
      font-size: 0.8em;
      line-height: 1;
      color: var( --color-gray );
      @include transition( all, $transition-hover );
    }
  }

  @media only screen and (max-width: $size-XXS) {
    a {
      display: block;
    }
  }
}

body:not(.touch) {
  .home-menu a:focus,
  .home-menu a:hover {
    background-color: var( --color-dark ) !important;
    color: var( --color-white );

    span {
      color: var( --color-white );
    }
  }
}



/*                      ABOUT: INTRO
------------------------------------------------------------------------- */

.about-intro {
  @include flex;
  @include flexMiddle;
  padding-top: 4rem;
  padding-bottom: 4rem;

  .logo {
    @include flexNoShrink;
    margin-right: 1.5rem;
    width: 33%;
    text-align: center;

    img {
      max-width: 20rem;
      width: 100%;
    }
  }

  @media only screen and (max-width: $size-XS) {
    @include flexColumn;
    padding-top: 4rem !important;

    .logo {
      width: 100%;
      max-width: 100%;
      margin-right: 0;
      margin-bottom: 1.5rem;

      img {
        max-width: 12rem;
      }
    }
  }

  @media only screen and (max-width: $size-XXS) {
    display: block;
    padding: 1rem 1rem 2rem 1rem;
  }

  p {
    font-family: $font;
    font-size: 1.5rem;
    line-height: 1.25;
    padding-left: 2.5rem;
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 2rem;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16px" height="16px" viewBox="0 0 24 24"><polyline fill="none" stroke="white" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" points="21 348 26 353 36 343" transform="translate(-16 -336)"/></svg>');

    & + p {
      margin-top: 1em;
    }

    strong {
      font-size: 1.2em;
    }

    @media only screen and (max-width: $size-M) {
      font-size: 1.25rem;
    }
  }
}



/*                      ABOUT: SOURCES
------------------------------------------------------------------------- */

.about-sources {
  padding-bottom: 4rem;

  .card-list {
    grid-template-columns: 30% 30% 40%;

    & > div {
      &:nth-child( 1 ) {
        span { opacity: 0.6; }
      }
      &:nth-child( 2 ) {
        span { opacity: 0.8; }
      }
    }
  }

  h4 {
    margin: 1rem 0 0.5rem;
  }

  & > h4 {
    margin: 0 0 1rem 0;
  }

  p {
    margin: 0;
  }

  h4,
  p {
    padding: 0 0.5rem;
    color: var( --color-white );
  }

  span {
    display: block;
    padding: 0.1rem 0.5rem;
    font-size: 0.9rem;
    font-weight: $fontweight-bold;
    color: var( --color-main5 );
    background-color: var( --color-white );
  }

  @media only screen and (max-width: $size-S) {

    .card-list > div {
      width: 100% !important;
      position: relative;
      margin-top: 1.5rem;
    }

    h4,
    p {
      padding: 0 0 0 2.5rem;
      margin: 0 0 0.25em 0;
    }

    span {
      position: absolute;
      left: 0;
      top: 0;
      padding: 0;
      line-height: 1.5rem;
      opacity: 1 !important;
      color: var( --color-white );
      background: none;
    }
  }

  @media only screen and (max-width: $size-XXS) {

    h4,
    p {
      padding: 0 0 0 2rem;
    }

    & > h4 {
      padding: 2rem 0 0 0;
      border-top: 2px solid var( --color-white );
    }

    span {
      font-size: 0.75rem;
      line-height: 2rem;
    }
  }
}



/*                      ABOUT: DISCLAIMER
------------------------------------------------------------------------- */

.about-disclaimer {
  color: var( --color-white );
  background: var( --color-main1 );
  padding: 1rem 0;

  @media only screen and (max-width: $size-XS) {
    padding: 3rem 0;
  }
}



/*                      ABOUT: FOOTER
------------------------------------------------------------------------- */

.about-footer {
  padding-top: 1rem;

  p {
    font-size: 0.9rem;
  }

  @media only screen and (max-width: $size-XS) {
    padding-bottom: 1rem;
  }
}

.about-footer-keyboard {
  padding-bottom: 0;

  @media only screen and (max-width: $size-XXS) {
    padding: 1.5rem;
  }
}

.about-footer-info {

  .card {
    border-top: 1px solid var( --color-gray );
    padding: 1rem 0 0 0;
    border-radius: 0;
  }

  @media only screen and (max-width: $size-S) {

    p {
      & + p {
        margin-top: 0.25rem;
      }
    }

    .card {
      padding-top: 1rem;
      padding-bottom: 0;
    }
  }
}

.touch {
  @media only screen and (max-width: $size-S) {
    .about-footer-info .cols > div:first-child {
      .card {
        border-top: none;
        padding-top: 0;
      }
    }
  }
}

body:not(.touch) {
  .about-footer .btn:hover {
    background-color: var( --color-hilite );
  }
}


