


/*                      SECTIONS
------------------------------------------------------------------------- */

$sectionsNum: 5;
$colors: #4A8040 #4D876D #4F8E99 #5296C5 #559DF2;



/*                      COLORS
------------------------------------------------------------------------- */

$color-tag:       lighten( nth( $colors, 2 ), 20% );

:root {

  --color-white:  #FFFFFF;
  --color-dark:   #000000;
  --color-gray:   #666666;
  --color-hilite: #39E698;
  --color-tag:    #DEEEE7;
  --color-cloak:  rgba( 0, 0, 0, 0.8 );

  @for $i from 1 through $sectionsNum {
    #{ '--color-main' + $i}: nth( $colors, $i );
  }

}



/*                      TYPOGRAPHY
------------------------------------------------------------------------- */

$fontweight-normal:     300;
$fontweight-bold:       500;

@font-face {
  font-family: Bitter;
  src: url( '../fonts/Bitter-Light.woff2') format('woff2');
  font-weight: $fontweight-normal;
  font-display: swap;
}
@font-face {
  font-family: Bitter;
  src: url( '../fonts/Bitter-Medium.woff2') format('woff2');
  font-weight: $fontweight-bold;
  font-display: swap;
}
@font-face {
  font-family: Barlow;
  src: url( '../fonts/Barlow-Light.woff2') format('woff2');
  font-weight: $fontweight-normal;
  font-display: swap;
}
@font-face {
  font-family: Barlow;
  src: url( '../fonts/Barlow-Medium.woff2') format('woff2');
  font-weight: $fontweight-bold;
  font-display: swap;
}

$font-title: Bitter, -apple-system, BlinkMacSystemFont, 'avenir next', avenir, helvetica, 'helvetica neue', ubuntu, roboto, noto, 'segoe ui', arial, sans-serif;
$font: Barlow, -apple-system, BlinkMacSystemFont, 'avenir next', avenir, helvetica, 'helvetica neue', ubuntu, roboto, noto, 'segoe ui', arial, sans-serif;



/*                      SIZES
------------------------------------------------------------------------- */

$size-XL:  80em; // 1280px
$size-M:   60em; //  960px
$size-S:   50em; //  800px
$size-XS:  40em; //  640px
$size-XXS: 32em; //  512px

$layoutwidth: 75em; // 1200px

$btn-height: 2.5rem; // 40px

$zindex-base:       1;
$zindex-menu:       5;
$zindex-overlay:   10;
$zindex-sidebar:  100;



/*                      TRANSITIONS
------------------------------------------------------------------------- */

$transition-hover:  0.2s;
$transition-slide: 0.5s;


