


/*                      SECTIONS
------------------------------------------------------------------------- */

$sectionsNum: 5;
$colors: #508040 #636399 #994545 #345E73 #548C7E;



/*                      COLORS
------------------------------------------------------------------------- */

$color-tag:       lighten( nth( $colors, 2 ), 20% );
$color-darkband:  darken( nth( $colors, 1 ),  7% );
$color-lightband: lighten( nth( $colors, 2 ), 42% );

:root {

  --color-white: #FFFFFF;
  --color-dark:  #000000;
  --color-gray:  #666666;
  --color-cta:   #{nth( $colors, 3 )};

  @for $i from 1 through $sectionsNum {
    #{ '--color-main' + $i}: nth( $colors, $i );
  }

  --color-tag: rgba( #{red($color-tag)}, #{green($color-tag)}, #{blue($color-tag)}, 0.3 );
  --color-darkband: #{$color-darkband};
  --color-lightband: #{$color-lightband};

}



/*                      TYPOGRAPHY
------------------------------------------------------------------------- */

$font: 'Arbutus Slab', -apple-system, BlinkMacSystemFont, 'avenir next', avenir, helvetica, 'helvetica neue', ubuntu, roboto, noto, 'segoe ui', arial, sans-serif;
$font-mono: 'IBM Plex Mono', Consolas, 'Lucida Console', Monaco, monospace;

$fontweight-normal:     400;
$fontweight-bold:       600;



/*                      SIZES
------------------------------------------------------------------------- */

$size-M:   60em; // 960px
$size-S:   50em; // 800px
$size-XS:  40em; // 640px
$size-XXS: 32em; // 512px

$layoutwidth: 75em; // 1200px

$btn-height: 2.5rem; // 40px



/*                      TRANSITIONS
------------------------------------------------------------------------- */

$transition-hover:  0.2s;
$transition-scroll: 0.5s;


