


/*                      HEADER
------------------------------------------------------------------------- */

header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 2;

  @media only screen and (max-width: $size-XS) {
    position: static;
  }
}



/*                      MAIN NAV
------------------------------------------------------------------------- */

nav {
  @include disableSelect;

  ul {
    @include flex;
    position: relative;
  }

  .bg {
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    bottom: 0;
    width: 0;
    background-color: var( --color-white );
    @include transition( width, $transition-scroll, ease-in-out );
  }

  li {
    @include flexNoShrink;
    width: 20%;

    &.selected ~ li {
      .btn {
        background-color: rgba( 0, 0, 0, 0.2 );
        color: var( --color-white );
      }
    }

    @for $i from 1 through $sectionsNum {
      &:nth-child(#{$i}) {
        .btn {  color: var( --color-main#{$i} ); }
        &.selected ~ .bg { width: #{ 20% * $i }; }
      }
    }
  }

  .btn {
    display: block;
    background-color: rgba( 255, 255, 255, 0.1 );
    @include ellipsis;
    border-radius: 0;
  }

  @media only screen and (max-width: $size-XS) {
    background-color: var( --color-main1 );
    padding-top: 1rem;

    ul {
      @include flexWrap;
      padding: 0 1rem;
    }

    li {
      width: auto;
    }

    .btn {
      padding: 0 0.75rem;
      margin: 1px;
      color: var( --color-white ) !important;
      background-color: rgba( 0, 0, 0, 0.2 ) !important;
      border: 0;
      text-align: left;
    }

    .bg {
      position: fixed;
      z-index: 2;
      bottom: auto;
      height: 0.5rem;
      background-color: var( --color-dark );
    }
  }
}


