


/*                      HOMEPAGE: LAYOUT
------------------------------------------------------------------------- */

.home-main {
  @include flex;
  min-height: 100vh;
  background-color: var( --color-main1 );
  color: var( --color-white );

  & > div {
    @include flexNoShrink;
    width: 50%;

    .content {
      max-width: $layoutwidth / 2;
    }

    &:first-child {
      .content {
        margin-right: 0;
      }
    }

    &:last-child {
      .content {
        margin-left: 0;
      }
    }
  }

  @media only screen and (max-width: $size-XS) {
    @include flexColumn;

    & > div {
      width: 100%;

      .content {
        max-width: $layoutwidth;
      }
    }
  }
}



/*                      HOMEPAGE: ABOUT
------------------------------------------------------------------------- */

.home-about {

  .content {
    padding: 2rem;

    @media only screen and (max-width: $size-S) {
      padding: 2rem 1rem;
    }

    @media only screen and (max-width: $size-XS) {
      padding: 2rem 1rem;
      @include flex;
      @include flexMiddle;

      .logo {
        width: 50%;
        @include flexNoShrink;
      }
    }

    @media only screen and (max-width: $size-XXS) {
      display: block;

      .logo {
        width: 100%;
      }
    }
  }

  p {
    font-size: 1.5rem;
    line-height: 1.5em;
    display: inline;

    strong {
      font-size: 1.25em;
    }

    & + p {
      &:before {
        content: '\2022';
        margin: 0 0.5em;
      }
    }

    @media only screen and (max-width: $size-M) {
      font-size: 1.25rem;
    }

    @media only screen and (max-width: $size-S) {
      font-size: 1rem;
    }
  }
}

.logo {
  height: 50vh;
  min-height: 10rem;
  max-height: 27rem;
  text-align: center;
  margin-bottom: 2rem;

  img {
    width: 100%;
    height: 100%;
  }

  @media only screen and (max-width: $size-XS) {
    height: 12rem;
    margin-bottom: 1rem;
  }
}



/*                      HOMEPAGE: MENU
------------------------------------------------------------------------- */

.home-menu {
  background-color: var( --color-darkband );

  .content {
    padding: 2rem;

    @media only screen and (max-width: $size-S) {
      padding: 2rem 1rem;
    }

    @media only screen and (max-width: $size-XXS) {
      padding: 1rem;
    }
  }

  h1 {
    opacity: 0.4;
    margin-bottom: 1em;
    max-width: 25rem
  }

  h2 {
    font-family: $font-mono;
    font-size: 1rem;
    font-weight: $fontweight-normal;
    margin-bottom: 0.75rem;
  }

  ul + h2 {
    margin-top: 2rem;
  }

  li {
    height: $btn-height;
    margin-bottom: 2px;

    &.new {

      a {
        position: relative;

        &:after {
          position: absolute;
          content: 'NEW';
          right: 0.25rem;
          top: 0.2rem;
          font-size: 0.5rem;
          line-height: 1;
          color: var( --color-cta );
        }
      }
    }
  }

  a {
    max-width: 100%;
    background-color: var( --color-white );
    color: var( --color-dark );
    font-size: 1rem;
    text-transform: none;

    span {
      font-size: 0.8em;
      line-height: 1;
      color: var( --color-gray );
      @include transition( all, $transition-hover );
    }

    &:focus {
      background-color: var( --color-dark );
      color: var( --color-white );

      span {
        color: var( --color-white );
      }
    }
  }

  @media only screen and (max-width: $size-S) {
    h1 {
      font-size: 2rem;
      max-width: 100%;
    }
  }

  @media only screen and (max-width: $size-XXS) {
    a {
      display: block;
    }
  }
}



/*                      HOMEPAGE: SOURCES
------------------------------------------------------------------------- */

.home-sources {
  padding: 3rem 0;
  background-color: var( --color-lightband );

  .card-list > div {

    &:nth-child( 1 ) {
      width: 30%;
      span { opacity: 0.6; }
    }
    &:nth-child( 2 ) {
      width: 30%;
      span { opacity: 0.8; }
    }
    &:nth-child( 3 ) {
      width: 40%;
    }
  }

  h2 {
    color: var( --color-main2 );
    margin-bottom: 1em;
  }

  h4 {
    margin: 1rem 0 0.5rem;
    line-height: 1.2;
  }

  p {
    margin: 0;
  }

  h4,
  p {
    padding: 0 0.5rem;
  }

  span {
    display: block;
    padding: 0.25rem 0.5rem;
    font-size: 0.75rem;
    color: var( --color-white );
    background-color: var( --color-main2 );
  }

  @media only screen and (max-width: $size-S) {
    padding: 1rem 0;

    .card-list > div {
      width: 100% !important;
      position: relative;

      & + div {
        margin-top: 1.5rem;
      }
    }

    h4,
    p {
      padding: 0 0 0 2.5rem;
      margin: 0 0 0.25em 0;
    }

    span {
      position: absolute;
      left: 0;
      top: 0;
      padding: 0;
      line-height: 1.5rem;
      opacity: 1 !important;
      color: var( --color-main2 );
      background: none;
    }
  }
}


