


/*                      HOMEPAGE: LAYOUT
------------------------------------------------------------------------- */

.home-main {
  @include flex;
  min-height: 100vh;
  background-color: var( --color-main1 );
  color: var( --color-white );

  & > div {
    @include flexNoShrink;
    width: 50%;

    .content {
      max-width: $layoutwidth / 2;
    }

    &:first-child {
      .content {
        margin-right: 0;
      }
    }

    &:last-child {
      .content {
        margin-left: 0;
      }
    }
  }

  @media only screen and (max-width: $size-XS) {
    @include flexColumn;

    & > div {
      width: 100%;

      .content {
        max-width: $layoutwidth;
      }
    }
  }
}



/*                      HOMEPAGE: ABOUT
------------------------------------------------------------------------- */

.home-about {

  .content {
    padding: 2rem;

    @media only screen and (max-width: $size-S) {
      padding: 2rem 1rem;
    }

    @media only screen and (max-width: $size-XS) {
      padding: 2rem 1rem;
      @include flex;
      @include flexMiddle;

      .logo {
        width: 50%;
        @include flexNoShrink;
      }
    }

    @media only screen and (max-width: $size-XXS) {
      display: block;

      .logo {
        width: 100%;
      }
    }
  }

  p {
    font-size: 1.5rem;
    line-height: 1.5em;
    display: inline;

    strong {
      font-size: 1.25em;
    }

    & + p {
      &:before {
        content: '\2022';
        margin: 0 0.5em;
      }
    }

    @media only screen and (max-width: $size-M) {
      font-size: 1.25rem;
    }

    @media only screen and (max-width: $size-S) {
      font-size: 1rem;
    }
  }
}

.logo {
  height: 50vh;
  min-height: 10rem;
  max-height: 27rem;
  text-align: center;
  margin-bottom: 2rem;

  img {
    width: 100%;
    height: 100%;
  }

  @media only screen and (max-width: $size-XS) {
    height: 12rem;
    margin-bottom: 1rem;
  }
}



/*                      HOMEPAGE: MENU
------------------------------------------------------------------------- */

.home-menu {
  background-color: var( --color-darkband );

  .content {
    padding: 2rem;

    @media only screen and (max-width: $size-S) {
      padding: 2rem 1rem;
    }

    @media only screen and (max-width: $size-XXS) {
      padding: 1rem;
    }
  }

  h1 {
    opacity: 0.4;
    margin-bottom: 1em;
    max-width: $layoutwidth / 3;
  }

  h2 {
    font-size: 1.5rem;
    font-weight: $fontweight-normal;
    margin-bottom: 1rem;
  }

  ul + h2 {
    margin-top: 2rem;
  }

  li {
    height: $btn-height;
    margin-bottom: 2px;
  }

  a {
    max-width: 100%;
    background-color: var( --color-white );
    color: var( --color-dark );
    font-size: 1rem;
    text-transform: none;

    &:focus {
      background-color: var( --color-dark );
      color: var( --color-white );
    }
  }

  @media only screen and (max-width: $size-S) {
    h1 {
      font-size: 2rem;
      max-width: 100%;
    }
  }

  @media only screen and (max-width: $size-XXS) {
    a {
      display: block;
    }
  }
}


