


/*                      HOMEPAGE: MENU
------------------------------------------------------------------------- */

.home-menu {
  background-color: var( --color-main1 );
  padding: 4rem 1rem;
  color: var( --color-white );

  .content {
    @include flex;
    @include flexMiddle;
  }

  @media only screen and (max-width: $size-XXS) {
    padding: 0.5rem;

    .content {
      @include flexColumn;
    }
  }
}

.logo {
  @include flexNoShrink;
  width: 33.33%;
  height: 60vh;
  min-height: 20rem;
  text-align: center;

  img {
    max-width: 100%;
    height: 100%;
  }

  @media only screen and (max-width: $size-S) {
    width: 50%;
  }

  @media only screen and (max-width: $size-XS) {
    width: 33.33%;
  }

  @media only screen and (max-width: $size-XXS) {
    width: 100%;
    height: 10rem;
    min-height: 0;
    margin-bottom: 1.5rem;
  }
}

.home-menu-list {
  @include flexGrow( 1 );
  @include flex;

  & > div {
    width: 50%;
    padding-left: 1rem;
  }

  h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  li {
    height: $btn-height;
    margin-bottom: 2px;
  }

  a {
    max-width: 100%;
    background-color: var( --color-white );
    color: var( --color-dark );
    font-size: 1rem;
    text-transform: none;

    &:focus {
      background-color: var( --color-dark );
      color: var( --color-white );
    }
  }

  @media only screen and (max-width: $size-M) {
    @include flexColumn;

    & > div {
      width: 100%;
      padding-right: 0;

      & + div {
        margin-top: 2rem;
      }
    }
  }

  @media only screen and (max-width: $size-S) {
    width: 50%;
  }

  @media only screen and (max-width: $size-XS) {
    width: 66.67%;
    padding-left: 1rem;
  }

  @media only screen and (max-width: $size-XXS) {
    width: 100%;

    & > div {
      margin: 0;
      padding: 0;

      & + div {
        margin-top: 1rem;
      }

      a {
        display: block;
      }
    }
  }
}



/*                      HOMEPAGE: ABOUT
------------------------------------------------------------------------- */

.home-about {
  padding: 4rem 1rem;
  background-color: var( --color-darkband );
  color: var( --color-white );

  h1 {
    margin-bottom: 4rem;
    opacity: 0.4;
  }

  @media only screen and (max-width: $size-S) {
    padding: 2rem 1rem;

    h1 {
      font-size: 2.5rem;
      margin-bottom: 1rem;
    }
  }

  @media only screen and (max-width: $size-XXS) {
    padding: 1rem 0.5rem;
  }
}

.columns {
  @include flex;

  & > p {
    width: 33.33%;
    font-size: 1.1rem;
    line-height: 1.75rem;
    margin-top: 0;

    strong {
      font-size: 1.5em;
    }

    & + p {
      margin-left: 2rem;
    }
  }

  @media only screen and (max-width: $size-S) {
    @include flexColumn;

    & > p {
      width: 100%;
      margin-top: 2rem;

      & + p {
        margin-left: 0;
      }
    }
  }
}


