


/*                      BODY
------------------------------------------------------------------------- */

html {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
     -moz-box-sizing: inherit;
          box-sizing: inherit;
}

body,
html {
  width: 100%;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  text-align: center;
}



/*                      HIDE ON MOBILE
------------------------------------------------------------------------- */

@media only screen and (max-width: $size-S) {
  .mobilehide {
    display: none;
  }
}

body.touch {
  .touchhide {
    display: none;
  }
}



/*                      MAIN CONTAINERS
------------------------------------------------------------------------- */

.content {
  max-width: $layoutwidth;
  margin: auto;
  text-align: left;
  padding: 1rem;
}

.row + .row {
  margin-top: 1.5rem;
}

.row-split {
  @include flex;
  @include flexWrap;

  & > div {

    &:first-child {
      width: 33.33%;
    }

    &:last-child {
      width: 66.67%;
    }

    @media only screen and (max-width: $size-S) {
      &:first-child,
      &:last-child {
        width: 100%;
      }
    }
  }
}

.card-list {
  @include flex;
  @include flexWrap;

  @media only screen and (max-width: $size-S) {
    @include flexColumn;
  }

  & > div {
    width: 33.33%;

    @media only screen and (max-width: $size-S) {
      width: 100%;
    }
  }
}


