


/*                      BODY
------------------------------------------------------------------------- */

html {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
     -moz-box-sizing: inherit;
          box-sizing: inherit;
}

body,
html {
  width: 100%;
  padding: 0;
  margin: 0;
}

body {
  text-align: center;
  overflow: hidden;
  height: 100%;
  @include flex;

  @media only screen and (max-width: $size-XXS) {
    overflow: auto;
    padding-top: $btn-height;

    .main {
      overflow: hidden;
      height: 100%;
    }
  }
}



/*                      HIDE ON MOBILE
------------------------------------------------------------------------- */

@media only screen and (max-width: $size-XXS) {
  .mobilehide {
    display: none;
  }
}

body.touch {
  .touchhide {
    display: none;
  }
}



/*                      MAIN CONTAINERS
------------------------------------------------------------------------- */

.main {
  width: 100%;
  height: 100vh;
  scroll-behavior: smooth;
  overflow: auto;
}

.content {
  max-width: $layoutwidth;
  margin: auto;
  text-align: left;
  padding: 1rem;
}

.row + .row {
  margin-top: 1.5rem;
}

.card-list {
  display: grid;
  column-gap: 2px;
  row-gap: 2px;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;

  @media only screen and (max-width: $size-S) {
    grid-template-columns: 1fr;
  }
}


