


/*                      NAV
------------------------------------------------------------------------- */

nav {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 3rem;
  padding: 1rem 0;
  z-index: $zindex-menu;
  overflow: auto;
  @include flex;
  @include flexColumn;

  &.nav-main {
    left: 0;
  }

  &.nav-tools {
    right: 0;
  }

  .btn {
    width: 100%;
    display: block;
    border-radius: 0;
  }

  .div {
    @include flexGrow( 1 );
  }

  .group + .group {
    margin-top: $btn-height;
  }

  @media only screen and (min-width: $size-XL) {
    width: 4rem;
  }

  @media only screen and (max-width: $size-XS) {
    width: $btn-height;
  }

  @media only screen and (max-width: $size-XXS) {
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: $btn-height;
    padding: 0;
    overflow: hidden;
    @include flexRow;
    background-color: var( --color-cloak );

    &.nav-main {
      position: absolute;
    }

    &.nav-tools {
      top: auto;
      bottom: 0;
    }

    .btn {
      width: $btn-height;
      display: inline-block;
    }

    .group + .group {
      margin-top: 0;
      margin-left: $btn-height;
    }
  }
}

.nav-main {
  .btn {
    opacity: 0.5;

    &.selected {
      opacity: 1;
    }
  }
}

.navdots {

  a {
    display: block;
    width: 100%;
    height: 1.5rem;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      top: 0.125rem;
      left: 50%;
      @include translateX( -50% );
      width: 0.25rem;
      height: 1.25rem;
      border-radius: 2px;
      background-color: var( --color-white );
      @include transition( all, $transition-hover );
    }
  }

  li.selected ~ li {
    a:after {
      opacity: 0.2;
    }
  }

  @media only screen and (max-width: $size-XXS) {
    display: none;
  }

  @media only screen and (max-height: 30rem) {
    display: none;
  }
}

body:not(.touch) {
  .navdots a:hover:after {
    opacity: 1;
  }
}


