


/*                      NAV
------------------------------------------------------------------------- */

nav {
  @include flexNoShrink;
  width: 3rem;
  height: 100vh;
  z-index: 1;
  overflow: auto;
  @include flex;
  @include flexColumn;
  background-color: var( --color-dark );

  .btn {
    width: 100%;
    display: block;
    border-radius: 0;
  }

  .div {
    @include flexGrow( 1 );
  }

  .group + .group {
    margin-top: $btn-height;
  }

  @media only screen and (min-width: $size-XL) {
    width: 4rem;
  }

  @media only screen and (max-width: $size-XS) {
    width: $btn-height;
  }

  @media only screen and (max-width: $size-XXS) {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: $btn-height;
    overflow: hidden;
    @include flexRow;

    .btn {
      width: $btn-height;
      display: inline-block;
    }

    .group + .group {
      margin-top: 0;
      margin-left: $btn-height;
    }
  }
}

.navdots {

  a {
    display: block;
    width: 100%;
    height: 1.5rem;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      top: 0.5rem;
      left: 50%;
      @include translateX( -50% );
      width: 0.5rem;
      height: 0.5rem;
      border-radius: 100%;
      border: 1px solid var( --color-white );
      background-color: var( --color-white );
      @include transition( all, $transition-hover );
    }
  }

  li.selected ~ li {
    a:after {
      opacity: 0.5;
      background-color: transparent;
    }
  }

  @media only screen and (max-width: $size-XXS) {
    display: none;
  }

  @media only screen and (max-height: 30rem) {
    display: none;
  }
}

body:not(.touch) {
  .navdots a:hover:after {
    opacity: 1;
    background-color: var( --color-white );
  }
}


