


/*                      PRINT VERSION
------------------------------------------------------------------------- */

@media print {

  body,
  .main {
    overflow: auto;
    height: 100%;
  }

  nav,
  .logo,
  .breadcrumb,
  .sidebar,
  .btn,
  .btn-icon,
  input[type="checkbox"],
  .card-list-ordered .card:before,
  .card-title:after,
  .rough-annotation,
  .recipeheader-image,
  .about-footer {
    display: none;
  }

  .home-main .btn {
    display: inline-block;
  }

  * {
    background: none !important;
    color: var( --color-dark ) !important;
  }

  .icon {
    stroke: var( --color-gray ) !important;
    opacity: 0.5 !important;
  }

  section {
    min-height: 0;
    page-break-inside: avoid;
    break-inside: avoid;
  }

  p {
    font-size: 1rem;
  }

  .note {
    padding-left: 0.5rem;
    margin-left: 0.5rem;
    color: var( --color-gray ) !important;
    border-left: 1px solid rgba( 0, 0, 0, 0.2 );
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    padding: 0 !important;

    .sub {
      display: block;
    }
  }

  h1 {
    font-size: 2.5rem;
  }

  h2,
  .section-usage h3 {
    font-size: 2rem;
    font-weight: $fontweight-bold;
  }

  h3 {
    br {
      display: none;
    }

    .quantity {
      margin-left: 0.5rem;
    }
  }

  .recipeheader ol {
    max-width: 100%;
  }

  .cols,
  .card-list {
    display: block;
  }

  .card,
  .card-body,
  .card-empty {
    padding: 0 !important;
    page-break-inside: avoid;
    break-inside: avoid;
  }

  .card,
  .card-empty,
  .cols > div {
    margin-top: 1rem;
  }

  .ingredient,
  .quantity {
    display: inline-block;
    padding: 0;
  }

  .comparison-row {
    li,
    .bar {
      border: 1px solid var( --color-dark );
    }
  }

  .about-intro p {
    padding: 0;
  }

  .about-sources .card-list > div {
    margin-top: 1rem;

    span {
      display: none;
    }
  }
}


