


/*                      RECIPE LAYOUT
------------------------------------------------------------------------- */

article {
  background-color: var( --color-main1 );
  @include transition( background-color, $transition-scroll );
  background-attachment: fixed;
  background-image: url( '../images/simpletomake-logobg.svg' );
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left 50% top 50%;
  color: var( --color-white );

  @media only screen and (max-width: $size-XS) {
    padding-top: 0rem;
  }

  @media only screen and (max-width: $size-XS) {
    background: none !important;
  }
}

@for $i from 1 through $sectionsNum {
  article.section#{$i} {
    background-color: var( --color-main#{$i} );
  }

  @media only screen and (max-width: $size-XS) {
    section.section#{$i} {
      background-color: var( --color-main#{$i} );
    }
  }
}

section {
  max-width: $layoutwidth;
  min-height: 100vh;
  margin: auto;
  text-align: left;
  padding: 4rem 1rem 1rem 1rem;
  outline: none;

  h1,
  h2 {
    padding: 1rem 0 1.5rem;
  }

  @media only screen and (max-width: $size-XS) {
    padding-top: 0;
    padding-bottom: 5rem;
    min-height: 0;

    h1,
    h2 {
      padding-top: 2rem;
    }
  }

  @media only screen and (max-width: $size-XXS) {
    padding: 0;

    &:last-of-type {
      padding-bottom: 5rem;
    }

    h1,
    h2 {
      padding: 2rem 1rem 2rem 1rem;
    }
  }
}



/*                      CARDS
------------------------------------------------------------------------- */

.card {
  background-color: var( --color-white );
  color: var( --color-dark );
  padding: 2rem;
  height: calc( 100% - 2px );
  margin: 0 1px;
  position: relative;
  @include transition( background-color, $transition-hover );

  @media only screen and (max-width: $size-M) {
    padding: 1.5rem;
  }

  @media only screen and (max-width: $size-S) {
    margin: 1px 0;

    h4 {
      position: relative;

      .quantity {
        position: absolute;
        right: 0;
        top: 0;
      }
    }
  }

  @media only screen and (max-width: $size-XXS) {
    h4 .quantity {
      position: static;
    }
  }
}

.card-title {
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 0;
    border-color: transparent transparent transparent var( --color-main4 );
    border-style: solid;
    border-width: 0 0 2rem 2rem;
  }

  @media only screen and (max-width: $size-S) {
    margin-top: 1rem;
    margin-left: 0;

    &:after {
      display: none;
    }
  }
}

.section-instructions {
  .card {
    padding-bottom: 3rem;
    height: calc( 100% - 1rem );

    @media only screen and (max-width: $size-S) {
      padding-bottom: 1.5rem;
      height: calc( 100% - 2px );
    }
  }

  h3 {
    color: var( --color-main4 );
  }
}

.section-usage {

  .card-list {
    padding-top: 2rem;
  }

  .card {
    height: calc( 100% - 3.5rem );
  }

  h3 {
    font-size: 1.8rem;
    line-height: 3.5rem;

    @media only screen and (max-width: $size-S) {
      margin-top: 1rem;
    }

    @media only screen and (max-width: $size-XS) {
      padding: 0 1rem;
    }
  }
}

.card-list-ordered {
  counter-reset: cardnum;

  .card:before {
    counter-increment: cardnum;
    content: counter(cardnum);
    position: absolute;
    top: 0.1rem;
    right: 0.5rem;
    font-size: 1.5rem;
    font-family: $font-mono;
    opacity: 0.25;

    @media only screen and (max-width: $size-M) {
      font-size: 1rem;
    }
  }
}

.card-empty {
  padding: 1rem 0;

  h5 {
    margin: 1rem;
  }

  li {
    margin: 0.5rem 1rem;
  }

  p {
    font-size: 1rem;
    opacity: 0.8;
    margin: 0.5rem 1rem;
  }
}

.card-time {
  padding: 2rem 1rem 2rem 4.5rem;
  background-image: url( '../images/icon-clock.svg' );
  background-repeat: no-repeat;
  background-size: 4rem;
  background-position: left 0.5rem top 50%;

  & + .card-time {
    padding-top: 0.25rem;
    background-position: left 0.5rem top 0;
  }

  p {
    line-height: 1.2;
  }

  strong {
    font-size: 1.25em;
  }

  @media only screen and (max-width: $size-S) {
    padding: 0 0 0 4.5rem;
    margin-top: 1.5rem;
  }
}



/*                      RECIPE CONTROLS
------------------------------------------------------------------------- */

.article-actions {
  position: sticky;
  bottom: 0;
  left: 0;
  right: 0;
  height: $btn-height;
  z-index: 1;
  @include flex;

  & > .btns-list:first-child {
    @include flexGrow( 1 );
    margin-right: 2px;
  }

  @media only screen and (max-width: $size-XXS) {
    position: fixed;
  }
}



/*                      COMPARISON DATA
------------------------------------------------------------------------- */

.comparison {
  margin-top: 1rem;
  padding: 1rem;
  border: 1px solid rgba( 255, 255, 255, 0.4 );
  font-family: $font-mono;

  @media only screen and (max-width: $size-XXS) {
    border: none;
    padding: 0 1rem;
  }

  h6 {
    padding: 0.25rem 0;
  }

  table {
    width: 100%;
  }

  td {
    font-size: 0.65rem;
    line-height: 1rem;

    strong {
      font-size: 1rem;
      font-weight: $fontweight-normal;
      padding-left: 0.5rem;
      text-align: right;
      white-space: nowrap;
      display: block;
    }

    &:first-child {
      width: 100%;
    }
  }

  ul {
    display: inline;

    & + ul {
      li {
        opacity: 0.5;
      }
    }
  }

  li {
    float: left;
    width: 0.75rem;
    height: 0.75rem;
    margin: 0.15rem;
    list-style: none;
    border-radius: 100%;
    background-color: var( --color-white );
  }

  .bar {
    background-color: var( --color-white );
    opacity: 0.5;
    height: 0.75rem;

    & + .bar {
      opacity: 1;
      margin-top: -0.75rem;
    }
  }
}


