


/*                      RECIPE LAYOUT
------------------------------------------------------------------------- */

article {
  background-color: var( --color-main1 );
  @include transition( background-color, $transition-scroll );
  background-attachment: fixed;
  background-image: url( '../images/simpletomake-logobg.svg' );
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left 50% top 50%;
  color: var( --color-white );

  @media only screen and (max-width: $size-XS) {
    background: none !important;
  }
}

@for $i from 1 through $sectionsNum {
  article.section#{$i} {
    background-color: var( --color-main#{$i} );
  }

  @media only screen and (max-width: $size-XS) {
    section.section#{$i} {
      background-color: var( --color-main#{$i} );
    }
  }
}

section {
  max-width: $layoutwidth;
  min-height: 100vh;
  margin: auto;
  text-align: left;
  padding: 2rem 0.5rem;
  outline: none;

  h1,
  h2 {
    padding: 1rem 1.5rem 1.5rem 1.5rem;
  }

  @media only screen and (max-width: $size-XS) {
    padding-top: 0;
    padding-bottom: 5rem;
    min-height: 0;

    h1,
    h2 {
      padding-top: 2rem;
    }
  }

  @media only screen and (max-width: $size-XXS) {
    padding: 1.5rem 0 0 0;

    &:last-of-type {
      padding-bottom: 5rem;
    }

    h1,
    h2 {
      padding: 2rem 1rem 2rem 1rem;
    }
  }
}



/*                      CARDS
------------------------------------------------------------------------- */

.card {
  background-color: var( --color-white );
  border-radius: 4px;
  color: var( --color-dark );
  padding: 2rem;
  height: calc( 100% - 2px );
  margin: 0 1px;
  position: relative;
  @include transition( background-color, $transition-hover );

  @media only screen and (max-width: $size-M) {
    padding: 1.5rem;
  }

  @media only screen and (max-width: $size-S) {
    margin: 1px 0;

    h4 {
      position: relative;

      .quantity {
        position: absolute;
        right: 0;
        top: 0;
      }
    }
  }

  @media only screen and (max-width: $size-XXS) {
    border-radius: 0;

    h4 .quantity {
      position: static;
    }
  }
}

.card-title {
  border-radius: 16px 4px 4px 16px;
  margin-left: 0.5rem;

  @media only screen and (max-width: $size-S) {
    margin-top: 1rem;
    margin-left: 0;

    &:after {
      display: none;
    }
  }
}

.section-instructions {
  .card {
    padding-bottom: 3rem;
    height: calc( 100% - 1rem );

    @media only screen and (max-width: $size-S) {
      padding-bottom: 1.5rem;
      height: calc( 100% - 2px );
    }
  }

  h3 {
    color: var( --color-main4 );
  }
}

.section-usage {

  .card-list {
    padding-top: 2rem;
  }

  .card {
    height: calc( 100% - 3.5rem );
  }

  h3 {
    font-family: $font-title;
    font-size: 1.8rem;
    line-height: 3.5rem;

    @media only screen and (max-width: $size-S) {
      margin-top: 1rem;
    }

    @media only screen and (max-width: $size-XS) {
      padding: 0 1rem;
    }
  }
}

.card-list-ordered {
  counter-reset: cardnum;

  .card:before {
    counter-increment: cardnum;
    content: counter(cardnum);
    position: absolute;
    top: 0.1rem;
    left: 0.5rem;
    font-size: 1.25rem;
    opacity: 0.25;

    @media only screen and (max-width: $size-M) {
      font-size: 1rem;
    }
  }
}

.card-empty {
  padding: 2rem;

  li {
    margin: 0.5rem 0;
  }

  p {
    font-size: 1rem;
    opacity: 0.8;
    margin: 0.5rem 1rem;
  }
}

.card-time {
  padding: 2rem;

  h5 + span {
    font-size: 2rem;
    line-height: 2rem;
  }

  span + h5 {
    margin-top: 1.5rem;
  }

  @media only screen and (max-width: $size-S) {
    padding-bottom: 1rem;
  }
}



/*                      COMPARISON DATA
------------------------------------------------------------------------- */

.comparison {
  padding: 0.5rem 0;

  h6 {
    margin-bottom: 0.5rem;
  }

  span {
    font-size: 0.75rem;
  }

}

h5 + .comparison {
  margin-top: 0.5rem;
}

.comparison-row {
  position: relative;
  @include clearfix;

  h6 {
    position: absolute;
    z-index: 1;
    line-height: 1rem;
    padding: 0 0.25rem;
    color: var( --color-gray );
  }

  ul {
    display: inline;

    & + ul {
      li {
        opacity: 0.5;
      }
    }
  }

  li {
    float: left;
    width: 0.75rem;
    height: 0.75rem;
    margin: 0.15rem;
    list-style: none;
    border-radius: 100%;
    background-color: var( --color-white );
  }

  .bar {
    background-color: var( --color-white );
    opacity: 0.5;
    height: 1rem;

    & + .bar {
      opacity: 1;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}


