


/*                      RECIPE LAYOUT
------------------------------------------------------------------------- */

article {
  background-color: var( --color-main1 );
  @include transition( background-color, $transition-scroll );
  background-attachment: fixed;
  background-image: url( '../images/simpletomake-logobg.svg' );
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left 50% top 50%;
  color: var( --color-white );

  @media only screen and (max-width: $size-XS) {
    background: none !important;
  }
}

@for $i from 1 through $sectionsNum {
  article.section#{$i} {
    background-color: var( --color-main#{$i} );
  }

  @media only screen and (max-width: $size-XS) {
    section.section#{$i} {
      background-color: var( --color-main#{$i} );
    }
  }
}

section {
  min-height: 100vh;
  outline: none;

  h1,
  h2 {
    padding: 1rem 1.5rem 1.5rem 1.5rem;
  }

  @media only screen and (max-width: $size-XS) {
    padding-top: 0;
    padding-bottom: 5rem;
    min-height: 0;

    h1 {
      padding-top: 3rem;
    }
  }

  @media only screen and (max-width: $size-XXS) {

    &.content {
      padding: 1.5rem 0 0 0;

      &:last-of-type {
        padding-bottom: 5rem;
      }
    }
  }
}



/*                      CARDS
------------------------------------------------------------------------- */

.card {
  background-color: var( --color-white );
  border-radius: 4px;
  color: var( --color-dark );
  padding: 1.5rem;
  position: relative;

  @media only screen and (max-width: $size-XXS) {
    border-radius: 0;
  }
}

.card-title {

  h3 {
    font-weight: $fontweight-bold;
  }

  @media only screen and (max-width: $size-S) {
    margin-top: 1rem;
    margin-left: 0;
    border-radius: 4px;

    &:after {
      display: none;
    }
  }

  @media only screen and (max-width: $size-XXS) {
    border-radius: 0;
  }
}

.section-ingredients {

  .card {

    h3 {
      @include flex;

      .quantity {
        @include flexGrow( 1 );
        text-align: right;
        font-weight: $fontweight-bold;
      }
    }

    @media only screen and (max-width: $size-XXS) {

      h3 {
        display: block;

        .quantity {
          display: block;
          text-align: left;
        }
      }
    }
  }
}

.section-instructions {

  .card {
    padding-bottom: 3rem;
    height: calc( 100% - 1rem );

    @media only screen and (max-width: $size-S) {
      padding-bottom: 1.5rem;
      height: calc( 100% - 2px );
    }
  }

  h3 {
    color: var( --color-main4 );
  }
}

.section-usage {
  @include flex;
  @include flexVerticalCenter;

  h3 {
    font-family: $font-title;
    font-size: 2rem;
    margin-bottom: 1rem;
    color: var( --color-main5 );
  }

  @media only screen and (max-width: $size-S) {
    display: block;

    .card-list {
      padding-top: 1rem;
    }
  }
}

.card-list-ordered {
  counter-reset: cardnum;

  .card:before {
    counter-increment: cardnum;
    content: counter(cardnum);
    position: absolute;
    top: 0.1rem;
    left: 0.5rem;
    font-size: 1.25rem;
    opacity: 0.25;

    @media only screen and (max-width: $size-M) {
      font-size: 1rem;
    }
  }
}

.card-empty {
  padding: 1.5rem;

  li {
    margin: 0.5rem 0;
  }

  p {
    font-size: 1rem;
    opacity: 0.8;
  }
}

.card-time {
  padding: 1.5rem;

  h5 + span {
    font-size: 2rem;
    line-height: 2rem;
  }

  span + h5 {
    margin-top: 1.5rem;
  }

  @media only screen and (max-width: $size-S) {
    padding-bottom: 1rem;
  }
}

.card-checkbox {
  background: transparent;
  padding: 0;

  .card-body {
    background-color: var( --color-white );
    border-radius: 4px;
    padding: 1.5rem;
    height: 100%;
    @include transition( opacity, $transition-hover );

    @media only screen and (max-width: $size-XXS) {
      border-radius: 0;
    }
  }

  input[type="checkbox"] {
    position: absolute;
    left: calc( 0.25rem + 1px );
    top: calc( 0.25rem + 1px );
    width: 1rem;
    height: 1rem;
    border: 1px solid var( --color-main3 );
    border-radius: 4px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: none;
    background-color: var( --color-white );
    background-repeat: no-repeat;
    background-position: center center;
    @include transition( all, $transition-hover );

    &:checked {
      border-color: var( --color-white );
      background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16px" height="16px" viewBox="0 0 24 24"><polyline fill="none" stroke="%234F8E99" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" points="21 348 26 353 36 343" transform="translate(-16 -336)"/></svg>');

      & ~ .card-body {
        opacity: 0.5;
      }
    }

  }

  label {
    cursor: pointer;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
  }
}



/*                      COMPARISON DATA
------------------------------------------------------------------------- */

.comparison {
  padding: 0.5rem 0;

  h6 {
    margin-bottom: 0.5rem;
  }

  span {
    font-size: 0.75rem;
  }

}

h5 + .comparison {
  margin-top: 0.5rem;
}

.comparison-row {
  position: relative;
  @include clearfix;

  h6 {
    position: absolute;
    z-index: 1;
    line-height: 1rem;
    padding: 0 0.25rem;
    color: var( --color-dark );
  }

  ul {
    display: inline;

    & + ul {
      li {
        opacity: 0.5;
      }
    }
  }

  li {
    float: left;
    width: 0.75rem;
    height: 0.75rem;
    margin: 0.15rem;
    list-style: none;
    border-radius: 100%;
    background-color: var( --color-white );
  }

  .bar {
    background-color: var( --color-white );
    opacity: 0.5;
    height: 1rem;

    & + .bar {
      opacity: 1;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}


