


/*                      TOOLTIPS
------------------------------------------------------------------------- */

.tooltip {
  position: absolute;
  z-index: 100;
  background-color: var( --color-dark );
  color: var( --color-white );
  font-size: 0.75rem;
  line-height: $btn-height;
  padding: 0 0.75rem;
  text-align: left;
  border-radius: 4px;
  @include transition( background-color, $transition-scroll );
  pointer-events: none;
}


